DB_URL=jdbc:mariadb://localhost:3306/bfmatch
DB_USERNAME=bfmatch
DB_PASSWORD=bfmatch

KAKAO_CLIENT_ID=cc017a86acea505893e3cc03946ef6a3
KAKAO_CLIENT_SECRET=iR6TXpz0naHmp8FaQfvybe0srS3Pkw4z
KAKAO_REDIRECT_URI=https://mature-physiology-blessed-anti.trycloudflare.com/login/oauth2/code/kakao
JWT_SECRET=replace-with-a-long-random-secret-key-at-least-32-bytes
JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=3600
REFRESH_TOKEN_EXPIRATION_SECONDS=1209600
REFRESH_TOKEN_COOKIE_NAME=bf_match_refresh_token
REFRESH_TOKEN_COOKIE_SECURE=false
REFRESH_TOKEN_COOKIE_SAME_SITE=Lax
FRONTEND_BASE_URL=http://localhost:3000
